/*
 * New Timeline CSS - Modular Structure
 * Main file with imports
 */

/* Import all partial stylesheets */
@import url('partials/base.css');
@import url('partials/images.css');
@import url('partials/header.css');
@import url('partials/sidebar.css');
@import url('partials/timeline.css');
@import url('partials/calendar.css');
@import url('partials/list.css');
@import url('partials/slider.css');
@import url('partials/offcanvas.css');
@import url('partials/luxury-list.css');
@import url('partials/view-offcanvas.css');
@import url('partials/create-forms.css');
@import url('partials/timeline-filters.css');
@import url('partials/modal.css');
@import url('partials/responsive.css');

